@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>_Layout</title>
	<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
	
	</head>
	<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <partial name="_Navbar" />
            <div class="col px-0 ">
				<div style="height:80px" class="mb-3 px-3 bg-primary text-white fs-3 align-content-center ">Employee Tracking App</div>
               <div class="px-3">
					@RenderBody()
			   </div>
            </div>
        </div>
    </div>
	</body>
</html>
